
{% extends "base.html" %}
{% load crispy_forms_tags %}

<!-- {% block head_title %}Welcome | {% endblock %}
<div class="jumbotron">
        <h1>Navbar example</h1>
        <p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
        <p>To see the difference between static and fixed top navbars, just scroll.</p>
        <p>
          <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>
        </p>
      </div> -->

{% block content %}
<!-- <div class = "row">
	<div class = "col-sm-4 col-sm-offset-4"> -->


		<!-- <h1>Home</h1>
		<h3>{{title}}</h3> -->

		<!-- abc is = {{ abc }} -->


	<!-- 	<form method = 'POST' action = '' >
		{% csrf_token %}
		{{ form|crispy }}
		<input class = 'btn btn-primary' type  = 'submit' value = 'Sign Up'>
		</form>
    </div>
</div> -->


   
<div class="container">
        <center>
            <h1>Sociale</h1>
            <h3>Let's get Social</h3>
            <div style="margin-top:50px;">
              <!-- <a href="/accounts/login" class="btn btn-primary btn-lg" role="button">Log In</a> -->
              <!-- <a href="/accounts/register" class="btn btn-default btn-lg" role="button">Sign up now</a> -->
            </div>
            
        </center>
     
      <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        
        <div class="col-lg-3 row-sm-offset-3">
          <span class="fa-stack fa-3x">
    <i class="fa fa-circle fa-stack-2x"></i> 
    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
</span>

          <h2>Facebook</h2>
          <p>Log into Facebook, Connect with friends, family and other people you know. Share photos and videos, send messages and get updates.</p>
          <p><a class="btn btn-lg btn-default" href="fblogin/" role="button">Log In </a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3 row-sm-offset-3">
          <!-- <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140"> -->
          <!-- <i class="fa fa-twitter"></i> -->
          <span class="fa-stack fa-3x">
    <i class="fa fa-circle fa-stack-2x"></i> 
    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
</span>
          <h2>Twitter</h2>
          <p>Twitter is your window to the world.When you need to know what's going on—in your town or globe get the best of what's happening now on Twitter.</p>
          <p><a class="btn btn-lg btn-default" href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}" role="button">Log In </a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3 row-sm-offset-3">
          <!-- <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140"> -->
          <!-- <i class="fa fa-instagram"></i> -->
          <span class="fa-stack fa-3x">
    <i class="fa fa-circle fa-stack-2x"></i> 
    <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
</span>
          <h2>Instagram</h2>
          <p>Instagram is a simple way to capture and share the world's moments.Transform photos and videos into works of art and share them with your Friends</p>
          <p><a class="btn btn-lg btn-default" href="#" role="button">Log In </a></p>
        </div>
        <div class="col-lg-3 row-sm-offset-3">
          <!-- <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140"> -->
          <!-- <i class="fa fa-instagram"></i> -->
          <span class="fa-stack fa-3x">
    <i class="fa fa-circle fa-stack-2x"></i> 
    <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
</span>
          <h2>Google+</h2>
          <p>Google+ is a place to connect with friends and family, and explore all of your interests. Share photos, send messages, and stay in touch with the people</p>
          <p><a class="btn btn-lg btn-default" href="#" role="button">Log In </a></p>
        </div>
        <!-- <i class="fa fa-google"></i>< /.col-lg-4 --> 
      </div><!-- /.row -->
  </div>
   </div>

{% endblock %}